#Everything is ignored
*.*

#Except the following
#Add whatever is necessary to be commited here
!.gitignore
!site.json
!elements/images/background/*
!elements/images/logo/*
!elements/images/sensepi/*
!elements/images/team/*
!elements/images/icon/*
!elements/images/sensebe/*
!elements/images/setup/*
!elements/css/custom.css
!elements/export/header.html
